.commentContainer {
	display: block;
	padding: 0.5rem;
}

.commentName {
	font-weight: bold;
}

.commentContent {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: wrap;
	color: rgb(164, 157, 157);
}

.commentImg {
	height: 15px;
	border-radius: 50%;
	padding-right: 0.5rem;
}
