.commentContainer {
	display: block;
	padding: 0.5rem;
}

.commentName {
	font-weight: bold;
}

.commentContent {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: wrap;
	color: rgb(164, 157, 157);
}

.commentImg {
	height: 30px;
	border-radius: 50%;
	padding-right: 0.5rem;
}


@media only screen and (min-width: 360px) {
    .commentContent > img {
		height: 70%;
		width: 70%;
		border-radius: 0%;
		box-shadow: none;
		margin-left: 0;
	}
  }

@media only screen and (min-width: 760px) {
    .commentContent > img {
		height: 100%;
		width: 100%;
		border-radius: 0%;
		box-shadow: none;
		margin-left: 0;
	}
  }

  @media only screen and (min-width: 960px) {
    .commentContent > img {
		height: 70%;
		width: 70%;
		border-radius: 0%;
		box-shadow: none;
		margin-left: 0;
	}
  }