/** CARD **/
.card-tweet {
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.card-title-tweet {
	font-weight: bold;
}
.card-tweet img {
	box-shadow: -6px 2px 29px -1px rgb(0 0 0 / 75%);
	width: 10%;
	height: 65px;
	width: 65px;
	margin-left: 1rem;
	/* border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px); */
	border-radius: 50%;
	background-color: transparent;
}

.fecha {
	color: darkgray;
	text-align: end;
	font-size: small;
}
.accordion-button::after {
	width: 0px;
}
/* .btnEdit {
} */
.comentarios {
	color: #0d6efd;
	text-align: center;
	font-size: 1.4rem;
	padding-top: 1rem;
}
.imgAvatar {
	background: transparent;
}

.red{
	color: red;
}

.like{
	cursor: pointer;
}
