.background{
    background-image: url("./assets/background_pigtter.png");
    background-size: cover;
    height: 100vh;
}

.divBotones{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}